:root {
  --accent-color: #ff6b09;
  --main-text-color: #000000;
  --secondary-text-color: #555555;
  --footer-text-color: rgba(255, 255, 255, 0.4);
  --placeholder-color: #bbbbbb;
  --background-color: #f5f6fb;
  --secondary-background-color: #ffffff;
  --third-background-color: #02172a;
  --line-color: #e2e3e5;
  --google-buttpn-color: #fafafa;
}
