.svg {
  /* fill: var(--secondary-background-color); */
  fill: inherit;
}

.heart {
  margin: 0 8px;
  fill: var(--accent-color);
}

.link {
  margin-top: 12px;
  fill: inherit;
}

.googleIcon {
  margin-right: 10px;
}

@media screen and (min-width: 320px) {
  .link {
    margin-top: 28px;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1080px) {
  .link {
    margin-top: 8px;
  }
}
