.headerSection {
  position: relative;
  padding: 21px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--line-color);
}

.full {
  display: none;
}

.rightContainer {
  display: flex;
  align-items: center;
}

.logoutContainer {
  display: none;
}

.hamburgerContainer {
  display: block;
}

.hamburgerContainer::before {
  position: absolute;
  top: 0;
  right: 65px;
  content: "";
  width: 1px;
  height: 100%;
  background-color: var(--line-color);
}

.logoutButton,
.logoutModalButton {
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.logoutModalButton {
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
}

.logoutButton:hover svg,
.logoutButton:focus svg,
.logoutModalButton:hover svg,
.logoutModalButton:focus svg {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .headerSection {
    padding: 21px 32px;
  }

  .full {
    display: block;
    margin-left: auto;
  }

  .logoutContainer {
    display: block;
  }

  .logoutContainer::before {
    position: absolute;
    top: 0;
    right: 75px;
    content: "";
    width: 1px;
    height: 100%;
    background-color: var(--line-color);
  }

  .hamburgerContainer {
    display: none;
  }
}

@media screen and (min-width: 1080px) {
  .headerSection {
    padding: 21px 16px;
  }

  .logoutContainer::before {
    right: 55px;
  }
}
