.headline {
  line-height: 1.22;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 12px;
}

.titleContainer {
  position: relative;
}

.title {
  line-height: 1.22;
  font-size: 10px;
  text-transform: uppercase;
}

.title::after {
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 130px;
  height: 1px;
  background-color: var(--line-color);
}

.statscontainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats:not(:last-child) {
  margin-right: 21px;
}

.stats:nth-child(1):after {
  position: absolute;
  top: -3px;
  right: 50%;
  content: "";
  width: 1px;
  height: 20px;
  background-color: var(--line-color);
}

.stats {
  line-height: 1.22;
  font-size: 10px;
  font-weight: 500;
}
.catpic {
  height: 120px;
  width: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.mainmessage {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.22;
}
.secondarymessage {
  line-height: 1.22;
  font-size: 10px;
  font-weight: 500;
  margin-top: 18px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 34px;
  padding-bottom: 51px;
}
.btn {
  color: #fff;
  background-color: var(--accent-color);
  display: inline-block;
  padding: 16px 62px;
  line-height: 1.17;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
}
.btn:hover {
  background-color: var(--accent-hover-color);
}

.lowestsect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .headline {
    font-size: 22px;
  }
  .title {
    font-size: 14px;
  }
  .title::after {
    bottom: -32px;
    width: 336px;
  }
  .stats {
    font-size: 16px;
    font-weight: 700;
  }
  .catpic {
    height: 176px;
    width: 176px;
    margin-top: 32px;
    margin-bottom: 12px;
  }
  .mainmessage {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.36;
  }
  .secondarymessage {
    line-height: 1.22;
    font-size: 20px;
    font-weight: 500;
    margin-top: 12px;
  }

  .container {
    padding-top: 42px;
    padding-bottom: 100px;
  }

  .stats:not(:last-child) {
    margin-right: 41px;
  }

  .stats:nth-child(1):after {
    top: 0;
  }

  .btn {
    margin-top: 40px;
    padding: 16px 57.5px;
    line-height: 1.17;
    font-size: 14px;
    font-weight: 500;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-top: 42px;
    padding-bottom: 65px;
  }
  .catpic {
    margin-top: 28px;
  }
  .title::after {
    width: 321.5px;
  }
}
