@import "../../../styles/variables.css";

.btn {
  width:180px;
  padding: 17px 30px;
  border: 2px solid transparent;
  color: var(--secondary-background-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02;
  line-height: 1.22;
}
